<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>gainsy</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.kingloo.gainsy.ios</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.kingloo.gainsy.ios.google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.997735853542-redj6fm1ca7klv4v9fkfrollb85p443i</string>
			</array>
		</dict>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-6600084915621974~8422643430</string>
	<key>GIDClientID</key>
	<string>997735853542-redj6fm1ca7klv4v9fkfrollb85p443i.apps.googleusercontent.com</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>진행 사진을 찍기 위해 카메라 접근 권한이 필요합니다.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>개발 중 Mac에서 실행 중인 로컬 API 서버에 연결하기 위해 로컬 네트워크 접근이 필요합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>진행 사진을 저장하기 위해 사진 라이브러리 접근 권한이 필요합니다.</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>주간 건강 요약 및 목표 달성 알림을 받습니다.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>맞춤 광고를 보여드리기 위해 광고 추적 권한을 요청합니다. 거부하셔도 광고는 표시되지만 관련성이 낮을 수 있습니다.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>SplashBackground</string>
	</dict>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
