// 시뮬레이터: localhost 사용
// 실기기: LOCAL_IP를 Mac의 로컬 IP로 변경
//   자동 갱신: ./ios/scripts/update-local-ip.sh
//   수동 확인: ifconfig | grep "inet 1"
LOCAL_IP = 172.30.1.33

BASE_URL = http:/$()/$(LOCAL_IP):8080
BASE_URL[sdk=iphonesimulator*] = http:/$()/localhost:8080
BASE_URL[sdk=iphoneos*] = http:/$()/$(LOCAL_IP):8080
